// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #7CB520,
  secondary:  #3CA84F,
  danger:     #f53d3d,
  light:      #f4f4f4,
  lightprimary:    #B5B5B7,
  energy:     #EB7C2E,
  dark:       #222
);

$toolbar-background: color($colors, primary);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// custom
// --------------------------------------------------

ion-app.md {

  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.8rem !important;
  font-weight: lighter !important;

}

#welcome

{
  text-align: center !important;

  background-color: #1fc8db !important;
    background-image: url("../assets/imgs/fondo-teusapp-trans-01.png"), linear-gradient(141deg, #009598 0%, #1fc8db 31%, #009598 75%) !important;

  color: #f4f4f4;
  text-shadow: 1px 1px 1px #444;


}

// fondo general inicio

.content-md {
  background-color: #efefef!important;
  background-image:url("../assets/imgs/fondo-teusapp-trans-01.png"), linear-gradient(141deg, #eeeeee 25%, #ffffff 40%, #f3ecec 55%) !important;
}


// fondo general fin



.toolbar-md-secondary .bar-button-clear-md, .toolbar-md-secondary .bar-button-default-md, .toolbar-md-secondary .bar-button-outline-md, .toolbar-md-secondary .toolbar-title-md {
  
  text-align: center !important;
}

.toolbar-md-secondary .toolbar-background-md {
  background: #3CA84F;
  background-image: linear-gradient(141deg, #7CB520 35%, #3CA84F 70%, #7CB520 95%) !important;
}


/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/

// Animate the size, inside


// Animate the size, outside
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}





// Multiple shadows, one on the outside, another on the inside
.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}

//=== Set button colors
// If you wonder why use Sass vars or CSS custom properties...
  // Make a map with the class names and matching colors
$colores: (
  
  pulse: #fff, 

);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
@each $button, $color in $colores {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #000;
  }
}

//=== Pen styling, ignore


// Basic button styles
button {
  background: #EB7C2E;
  border-radius: 25px;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

// fin clases botones



// inicio codigo tabs


.tabs-md .tab-button[aria-selected=true] .tab-button-text {
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;

}



// fin codigo tabs


ion-img {
  
 
  background:none !important;

}



.logo-img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.logo-img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}



.button-clear-md {
 
  color: #999 !important;
 
}


.item-md {
  
  font-size: 1.9rem !important;
  
}


.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
  
  text-transform: uppercase;
  font-size: 1.4rem;
}



.item-md {

  background-color: transparent !important;
 
}